{if isset($prefix)}{$prefix}{/if}
<div id="{$wrapperId}" class="field fieldDatepicker clear {$classes}">
    {if isset($label)}
    <div class="labelWrapper">
        {if $label}<label for="{$elementId}">{$label}{if $required} *{/if}</label>{/if}
        {if isset($labelDescription)}<p class="formElementLabelDescription">{$labelDescription}</p>{/if}
    </div>{/if}<div class="elementWrapper">
        <input type="text" name="{$name}" id="{$elementId}From" value="{$value}" {$options} />
        {if isset($description)}<p class="formElementDescription">{$description}</p>{/if}
    </div>
</div>
{if isset($suffix)}{$suffix}{/if}