<!DOCTYPE html>
<html>
    <head>
        <base href="http://ms.mjoelnir.dev">
        <title>Mjoelnir Dev</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {$sCss}
        {$sJsHeader}
        
        <script type="text/javascript">
            less = {
                env: "development", // or "production"
                async: false,       // load imports async
                fileAsync: false,   // load imports async when in a page under
                                    // a file protocol
                poll: 1000,         // when in watch mode, time in ms between polls
                functions: {},      // user functions, keyed by name
                dumpLineNumbers: "comments", // or "mediaQuery" or "all"
                relativeUrls: false,// whether to adjust url's to be relative
                                    // if false, url's are already relative to the
                                    // entry less file
                rootpath: ":/a.com/"// a path to add on to the start of every url
                                    //resource
            };
        </script>
    </head>
    <body>
        <header>
            <div id="headerWrapper">
                <nav>
                    <ul>
                        {*if $oAcl->isAllowed('$APPLICATION_NAME', 'PtiForumReader', 'index')*}
                        <li><a href="{$WEB_ROOT}ptiForumReader/index/" title="PTI Forum Reader">PTI Forum Reader</a></li>
                        {*/if*}
                    </ul>
                </nav>

                <div id="loginWrapper">
                    <div class="toggle clear">
                        <a>Einloggen</a>
                    </div>
                    <div class="content">
                        {$oLoginForm->getElement('name')}
                        {$oLoginForm->getElement('password')}
                        {$oLoginForm->getElement('login')}
                    </div>
                </div>
            </div>
        </header>
        <div id="pageWrapper">
            {include file="messages.tpl.html"}
            
            
        </div>
        {block name="content"}{/block}
        <h1><a href="">link</a></h1>
        {if $APPLICATION_ENV == 'development'}
            <div id="debugContent">
                {$sDebugContent}
            </div>
        {/if}
        
        {$sJsFooter}
    </body>
</html>
