<!DOCTYPE html>
<html>
    <head>
        <title>Mjoelnir Dev</title>
        <meta charset="UTF-8">
        {$sCss}
        {$sJsHeader}
    </head>
    <body class="skin-blue">
        {include '_header.tpl.html'}
<!--        <header class="header">
            <a href="index.html" class="logo">
                 Add the class icon to your logo image or logo icon to add the margining 
                AdminLTE
            </a>
            <div id="headerWrapper">
                <nav>
                    <ul>
                        {*if $oAcl->isAllowed('$APPLICATION_NAME', 'PtiForumReader', 'index')*}
                        <li><a href="{$WEB_ROOT}ptiForumReader/index/" title="PTI Forum Reader">PTI Forum Reader</a></li>
                        {*/if*}
                    </ul>
                </nav>
            </div>
        </header>-->
        <div class="wrapper row-offcanvas row-offcanvas-left">
            {include '_left.tpl.html'}
            {include '_right.tpl.html'}
        </div>
        <div id="pageWrapper">
            {include file="messages.tpl.html"}
        </div>
        {block name="content"}{/block}
        <h1><a href="">link</a></h1>
        {if $APPLICATION_ENV == 'development'}
            <div id="debugContent">
                {$sDebugContent}
            </div>
        {/if}
        
        {$sJsFooter}
    </body>
</html>
